@use 'variables';
@use 'mixins';
@use '_buttons';

.hero {
    @include mixins.flex-center(column);
    text-align: center;
    background: variables.$light-hero-bg;
    padding: 4rem;

    button {
        @extend .standard-button;
    }

    .hero-images {
        position: relative;
        width: 350px;
        height: 250px;
        margin-top: 2rem;
    }

    .img1 {
        @include mixins.position-image(100%, auto, 0, 0, 1);
    }

    .img2 {
        @include mixins.position-image(50%, auto, auto, auto, 2);
        bottom: -20px;
        right: -20px;
        border: 3px solid white;
        box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
    }
}

@media (prefers-color-scheme: dark) {
    .hero {
        background: variables.$dark-hero-bg;
        color: variables.$dark-text;
    }
}

@media (max-width: 768px) {
    .hero {
        padding: 2rem; 
    }

    .hero-images {
        width: 100%; 
        height: auto;
        margin-top: 1rem;
    }

    .img1, .img2 {
        width: 100%; 
        height: auto;
    }

    .img2 {
        bottom: 0;
        right: 0;
        border: none;
        box-shadow: none;
    }
}