@mixin flex-center($direction: row) {
    display: flex;
    justify-content: center;
    align-items: center;

    @if $direction == column {
        flex-direction: column;
    } @else {
        flex-direction: row;
    }
}

@mixin position-image($width, $height, $top, $left, $z-index) {
    position: absolute;
    width: $width;
    height: $height;
    top: $top;
    left: $left;
    z-index: $z-index;
    object-fit: cover;
}