$font-stack: Helvetica, sans-serif;
$orange-color: #FF5500;

// Light mode
$light-bg: #ffffff;
$light-text: #0D0D0D;
$light-header: #3A3A3A; 
$light-hero-bg: #f5f5f5;
$light-grid-container: #e6e6e6; 
$light-grid-item: #c4c2c2; 

// Dark mode
$dark-bg: #1e1e1e;
$dark-text: #ECECEC;
$dark-header: #0A0A0A;   
$dark-hero-bg: #252525;
$dark-grid-container: #2F2F2F;  
$dark-grid-item: #3A3A3A;       
$dark-grid-text: #F5F5F5;  